body {
  background-color: rgb(160, 15, 15);
}

h3 {
  text-align: center;
}

img {
  max-width: 200px;
  margin: auto;    
  display: block;
}

#pizza-cart {
  display: none;
}

#pizza-price {
  display: none;
}